*.jsbundle
*.tsbuildinfo
.DS_Store
.history
.jest
Pods
node_modules/
npm-debug.log
yarn-error.log
.now
.eslintcache
*.log

packages/**/build
packages/**/dist
packages/**/public/script.js
packages/**/public/script.js.map

MODULE_NOT_FOUND

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*